body{

}
h5{
  text-transform: uppercase;
}

.container{
  max-width: 970px;
  max-width: 96%;
  margin: auto;
}

.btn{
  background-color: black;
  color: white;
}
.title{
  font-size: 1.5em;
  color: #455A64;
  font-weight: 300;
}

.text{
  font-size: 1.063em;
  line-height: 25px;
  color: #607D8B;
  font-weight: 300;
}

.large{
background-color: yellow;
}
